
 *{
    margin: 0;
    padding: 0;  
  }

header{
    text-align: center;
    background: rgb(22, 22, 22);
    min-width: 500px;
}

body{
    background-color: #000000;
    color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}
/*navegation and logo*/
.logo{
    width: 100%;
    
 }

 nav li{
    display: inline-block;
    padding: 10px 4vw 10px 4vw;;
    font-size: xx-large;
}

nav {
    text-align: center;
    background: rgb(22, 22, 22);
    text-decoration: none;
    min-width: 500px;
    border-bottom: 1px solid red;
}

 nav a {
     
    text-decoration: none;
    color: antiquewhite;
 }

 nav a:hover{
    color: #B61036;
}
/*navegation and logo*/


   main{
       width: 100%;
       margin: 0 auto;
       
   }

   form {
       margin: 40px 20px 40px 20px;
   }

   form label{
       display: block;
       font-size: 20px;
       margin: 0 0 20px;
   }

   .padron{
       display: block;
       margin: 0 0 20px;
       padding: 8px 25px;
       width: 50%;
       
   }
   .checkbox{
       margin: 20px 0;
   }

/*Send Button*/
   .enviar{

       background: rgb(22, 22, 22);
       text-decoration: none;
       position: relative;
       display: inline-block;
       padding: 15px 30px;
       font-size: 24px;
       color: aliceblue;
       letter-spacing: 4px;
       transition: 0.2s all;
       overflow: hidden;
   }

   .enviar:hover{
       background: #B61036;
       box-shadow: 0 0 10px #B61036, 0 0 40px #B61036, 0 0 80px;
       transition-delay: 1s;
   }

   .enviar span {
       position: absolute;
       display: block;
   }

   #span1 {
       top: 0;
       left: -100%;
       width: 100%;
       height: 2px;
       background: linear-gradient(90deg,transparent,#B61036);
   }

   .enviar:hover #span1{
    left: 100%;
    transition: 1s;
   }

   #span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,rgb(77, 2, 2));
}

.enviar:hover #span3{
 right: 100%;
 transition: 1s;
 transition-delay: 0.5s;
}


#span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#B61036);
}

.enviar:hover #span2{
 top: 100%;
 transition: 1s;
 transition-delay: 0.25s;
}

#span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#B61036);
}

.enviar:hover #span4{
 bottom: 100%;
 transition: 1s;
 transition-delay: 0.75s;
}

/*Send Button*/

/*schedules*/
   .schedules{
       margin: 40px 40px;
       border-collapse: collapse;
   }

   .schedules thead{
       background: rgb(77, 2, 2);
       font-weight: bold;
   }

   .schedules td, .schedules th{
       border: 2px solid rgb(77, 2, 2);
       padding: 10px;
       
   }
/*schedules*/

/*footer*/
   footer{
    text-align: center;
    background: rgb(22, 22, 22);
    min-width: 500px;
   }

   footer table td {
      text-align: left;
      padding: 0.2vw 4vw 0.2vw 4vw;
   }

   .first td {
      padding-top: 20px;
   }

   footer hr{
      margin: 2rem;
      height: 0.1px;
   }

   .social {
      width: 12%;
      
   }
/*footer*/

   @media screen and (max-width:700px) {
     
    select {
        padding: 20px;
        font-size: larger;
    }
    body {
        width: 1000px;
        font-size: xx-large;
     }

     form label {
         font-size: xx-large;
     }

    footer {
     width: 1000px;
  }
  nav li {
     font-size: xx-large;
     display: inline-block;
     margin: 10px;
  }
        
    }